 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #fff;
 }

 .counter-box {
     width: 350px;
     text-align: center;
     background:#fff;
 }

 #count {
     font-size: 60px;
     margin-bottom: 30px;
 }

 button:hover {
     opacity: 0.85;
 } 